<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Factura</title>
{% load static %}

<link rel="stylesheet" href="{% static 'Styles/Factura.css' %}">
</head>

<body>

<div class="container" id="facturaPDF">
    <h3 id="estadoFactura"></h3>
    <!-- HEADER -->
    <div class="header">
        <div>
            <h2>FACTURA</h2>
            <b>RFC Emisor:</b> <span id="rfcEmisor"></span><br>
            <b>Nombre:</b> <span id="nombreEmisor"></span>
        </div>

        <div class="folio-box">
            <b>Folio:</b> <span id="folio"></span><br>
            <b>Clave:</b> <span id="clave"></span><br>
            <b>Fecha:</b> <span id="fecha"></span>
        </div>
    </div>

    <hr>

    <!-- RECEPTOR -->
    <div class="receptor">
        <b>RFC Receptor:</b> <span id="rfcReceptor"></span><br>
        <b>Nombre:</b> <span id="nombreReceptor"></span><br>
        <b>Uso CFDI:</b> G03
    </div>

    <!-- TABLA -->
    <h3>Conceptos</h3>

    <table>
        <tr>
            <th>Clave</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Importe</th>
        </tr>
        <tr>
            <td>10101504</td>
            <td id="descripcion"></td>
            <td id="cantidad"></td>
            <td id="precio"></td>
            <td id="importe"></td>
        </tr>
    </table>

    <!-- TOTALES -->
    <div class="total">
        Subtotal: <span id="subtotal"></span><br>
        IVA (16%): <span id="iva"></span><br>
        <b>Total: <span id="total"></span></b>
    </div>

</div>

<!-- BOTONES -->
<div class="acciones">
    <h3>Descargar factura:</h3>

    <label><input type="checkbox" value="pdf"> PDF</label>
    <label><input type="checkbox" value="xml"> XML</label>
    <label><input type="checkbox" value="json"> JSON</label>
    <label><input type="checkbox" value="txt"> TXT</label>
    <label><input type="checkbox" value="qr"> QR</label>
    <label><input type="checkbox" value="email"> Email</label>

    <br><br>


    <button onclick="generarDecoradores()">Generar y Descargar</button>
    <p id="resultadoDecorador"></p>
</div>

<!-- LIBRERÍA PDF -->
<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

<!-- MAIN -->
<script type="module" src="{% static 'js/main.js' %}"></script>

</body>
</html>
<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>




</body>
</html>