<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Inicio</title>

{% load static %}

<link
rel="stylesheet"
href="{% static 'styles/Home.css' %}">

</head>

<body>

<!-- HEADER -->

<div class="logo">
<div class="sat">

| SAT

</div>
<div class="brand">


<div class="title">

<h1>Sistema de Facturación</h1>

<p>
Gestión de documentos fiscales
</p>

</div>

</div>

<div class="menu">

<button class="menu-btn">

☰

</button>

<div class="menu-content">

<a href="{% url 'historial' %}"
    class="logout">

Historial
</a>

<a href="{% url 'index_view' %}">
Salir
</a>



</div>

</div>
</div>

<!-- FIN LOGO -->

<!-- CONTENIDO -->

<main class="dashboard">

<p class="sub">

Elige el tipo de documento que deseas generar

</p>

<div
id="tiposFactura"
class="cards">

</div>

</main>


<script
type="module"
src="{% static 'js/main.js' %}">
</script>

</body>

</html>