<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Factura</title>

{% load static %}

<link
rel="stylesheet"
href="{% static 'Styles/Home.css' %}">

</head>

<body>

<div class="footer-decor">

<header class="topbar">

<div class="logo">

| SAT

</div>

<div class="title">

<h1>Sistema de Facturación</h1>

<p>

Gestion de documentos fiscales

</p>

</div>

<div class="actions">

<a
href="{% url 'historial' %}"
class="logout">

Historial

</a>

<a
href="{% url 'index_view' %}"
class="ghost">

Salir

</a>

</div>

</header>


<main class="dashboard">



<p class="sub">

Elige el tipo de documento que deseas generar

</p>

<!-- AQUÍ SE GENERAN -->
<div
id="tiposFactura"
class="cards">

</div>

</main>

</div>

<script
type="module"
src="{% static 'js/main.js' %}">
</script>

</body>

</html>