#facturaPDF {
    
    width: 650px; 
    margin: auto;
    background: white;
    padding: 20px;
    border: 2px solid black;
    font-size: 11px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}

th {
    margin-top: 15px;
    padding: 10px 20px;
    background:#7a1f2b;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:5px;

}

/* TOTALES */
.total {
    text-align: right;
    margin-top: 20px;
    font-size: 14px;
}

/* OCULTAR COSAS EN PDF */
.no-pdf {
    margin-top: 20px;
}

@media print {
    .no-pdf {
        display: none;
    }
}

/* CONTENEDOR DE BOTONES */
.acciones {
    text-align: center;
    margin-top: 30px;
}

/* BOTÓN PRINCIPAL */
button {
    background: linear-gradient(135deg, #7a1f2b, #a03a4a);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* HOVER */
button:hover {
    background: linear-gradient(135deg, #5c1720, #7a1f2b);
    transform: translateY(-2px);
}

/* CLICK */
button:active {
    transform: scale(0.97);
}

/* CHECKBOXES BONITOS */
.acciones label {
    display: inline-block;
    margin: 8px 10px;
    padding: 6px 12px;
    border-radius: 6px;
    background: #f0f0f0;
    cursor: pointer;
    transition: 0.3s;
}

/* EFECTO HOVER CHECKBOX */
.acciones label:hover {
    background: #e0e0e0;
}

/* CHECKBOX SELECCIONADO */
.acciones input[type="checkbox"]:checked + span {
    font-weight: bold;
    color: #7a1f2b;
}