*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}

body{

background:#f5f6fa;
}



/* ===== ENCABEZADO ===== */

.logo{

background-color: #7a1f2b;
    color: white;
    font-size: 18px;
    height:90px;
    display:flex;
    align-items:center;
    padding:0 40px;
    box-shadow: 0 2px 12px rgba(0,0,0,.08);

}


/* TITULO */

.title{

margin-left:25px;

display:flex;

flex-direction:column;

justify-content:center;

}


.title h1{

margin:0;

font-size:34px;

color:white;

}


.title p{

margin:0;

color:white;

}


/* MENU */
.menu{

margin-left:auto;

position:relative;

display:flex;

align-items:center;

}


/* BOTON */

.menu-btn{

width:55px;

height:55px;

border:none;

background:transparent;

color:white;

font-size:34px;

cursor:pointer;

}


/* MENU */

.menu-content{

opacity:0;

visibility:hidden;

position:absolute;

top:70px;

right:0;

width:220px;

background:white;

border-radius:10px;

overflow:hidden;

box-shadow:
0 10px 30px rgba(0,0,0,.2);

transition:.2s;

z-index:999;

}


/* MANTENER ABIERTO */

.menu:hover .menu-content,

.menu-content:hover{

opacity:1;

visibility:visible;

}


/* OPCIONES */

.menu-content a{

display:block;

padding:18px;

color:#81192b;

text-decoration:none;

font-weight:bold;

}


.menu-content a:hover{

background:#f7eef0;

}

/**/
/* CONTENEDOR */

.layout{

max-width:1500px;

margin:auto;

padding:40px;

display:grid;

grid-template-columns:
3fr 1fr;

gap:30px;

}

/* PANEL */

.panel{

background:white;

padding:30px;

border-radius:25px;

box-shadow:
0 15px 50px
rgba(
0,
0,
0,
.08
);

margin-bottom:25px;

border:
1px solid
#ececec;

}

/* TITULOS */

.panel h2{

color:#7a1f2b;

font-size:24px;

margin-bottom:10px;

}

/* GRID */

.grid{

display:grid;

grid-template-columns:
1fr 1fr;

gap:18px;

}

/* INPUT */

input,
select,
textarea{

width:100%;

padding:18px;

border:

2px solid
#ddd;

border-radius:16px;

background:
#fafafa;

font-size:15px;

transition:.25s;

}

/* PLACEHOLDER */

input::placeholder{

color:#999;

}

/* FOCUS */

input:focus,
select:focus,
textarea:focus{

outline:none;

border-color:
#7a1f2b;

background:white;

box-shadow:
0 0 0 5px
rgba(
122,
31,
43,
.12
);

}

/* INVALID */

input:invalid{

border-color:
#ff5959;

}

/* BOTONES */

button{

padding:16px;

border:none;

border-radius:16px;

font-size:15px;

font-weight:700;

cursor:pointer;

transition:.25s;

}

/* BOTONES EXPORT */

.decoradores{

display:grid;

grid-template-columns:
1fr 1fr;

gap:12px;

}

.decoradores button{

background:white;

border:
2px solid
#eee;

}

.decoradores button:hover{

transform:
translateY(-4px);

box-shadow:
0 12px 20px
rgba(
0,
0,
0,
.1
);

}

/* BOTON TIMBRAR */

.verde{

background:
#7a1f2b;

color:white;

}

.verde:hover{

transform:
scale(
1.02
);

}

/* SIDEBAR */

.sidebar{

position:sticky;

top:30px;

}

.title h1{

font-size:34px;
}

.title p{

color:#ffffff;
}
.factura-page{

padding:50px 40px 40px;

max-width:1400px;

margin:auto;

}

.volver{
    background-color: #7a1f2b;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.header{

margin-bottom:40px;
}

.titulo{

display:flex;

align-items:center;

gap:20px;

margin-top:20px;
}

.icono{

width:60px;

height:60px;

border-radius:14px;

background:#2563eb;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:32px;
}

.layout{

display:grid;

grid-template-columns:
2fr 1fr;

gap:30px;
}

.panel{

background:white;

padding:40px;

border-radius:20px;

box-shadow:
0 4px 20px rgba(0,0,0,.08);

margin-bottom:30px;
}

.sub{

color:#666;

margin-bottom:30px;
}

.grid{

display:grid;

grid-template-columns:
1fr 1fr;

gap:20px;
}

.grid input{

height:58px;

border:none;

background:#f6f7fb;

padding:20px;

border-radius:14px;
}

.sidebar{

position:sticky;

top:40px;

height:max-content;
}

.resumen .fila{

display:flex;

justify-content:space-between;

padding:15px 0;
}

.resumen h2{

font-size:44px;

color:#2563eb;

margin:30px 0;
}

.resumen button{

width:100%;

height:56px;

border:none;

margin-bottom:15px;

border-radius:12px;

cursor:pointer;
}

.verde{

background:#08b444;

color:white;
}

.cancelar{

background:white;

color:red;
}

/*Parte del timbrado estilo*/
.timbrado{

margin-top:30px;

display:flex;

flex-direction:column;

gap:10px;
}

.timbrado input,
.timbrado textarea{

width:100%;

padding:14px;

background:#f6f7fb;

border:none;

border-radius:12px;

font-size:14px;
}

.timbrado textarea{

height:90px;

resize:none;
}

/*Decoradores ocultos*/
.decoradoresOcultos{

display:none;
}

/*Botrones decoradores*/
.decoradores{

display:grid;

grid-template-columns:
1fr 1fr;

gap:12px;
}

.decoradores button{

height:65px;

display:flex;

align-items:center;

gap:10px;

border:none;

background:white;

cursor:pointer;

padding:15px;

border-radius:14px;

box-shadow:
0 3px 10px rgba(0,0,0,.08);
}

.decoradores button:hover{

transform:translateY(-2px);
}

.btn-icon{

width:28px;

height:35px;

object-fit:contain;
}

.state-buttons{

display:flex;

gap:15px;
}

.timbrar{

background:#0cb74d;

color:white;

flex:1;
}

.cancelar{

background:#e53935;

color:white;

flex:1;
}

.usuario{

margin-bottom:25px;
}

.usuario input{

background:#f8fafc;

border:2px solid #7a1f2b;

padding:14px;

border-radius:12px;

font-size:15px;

font-weight:600;

color:#333;

}

.usuario input:focus{

outline:none;

box-shadow:
0 0 10px
rgba(
122,
31,
43,
0.25
);

}

.decoradoresOcultos{

display:none;
}

/*Nuevo complemento*/
.panel{

background:white;

border-radius:18px;

padding:25px;

box-shadow:
0 8px 30px
rgba(0,0,0,.06);

margin-bottom:20px;

}

.grid{

display:grid;

grid-template-columns:
repeat(
2,
1fr
);

gap:16px;

}

input,
select,
textarea{

padding:14px;

border:

1px solid
#d7dbe7;

border-radius:12px;

font-size:15px;

width:100%;

transition:.3s;

}

input:focus,
select:focus{

outline:none;

border-color:
#7a1f2b;

box-shadow:
0 0 0 4px
rgba(
122,
31,
43,
.15
);

}

input:invalid{

border-color:
#e74c3c;

}

button{

border:none;

border-radius:12px;

padding:14px;

cursor:pointer;

}

.verde{

background:
#7a1f2b;

color:white;

}

.decoradores{

display:grid;

grid-template-columns:
1fr 1fr;

gap:10px;

}

.decoradores button{

background:white;

border:
1px solid #ddd;

}

.decoradores button:hover{

transform:
translateY(-2px);

}

