body{

background:white;

padding:40px;

font-family:Arial;

}

.header{

background:#7a1f2b;

color:white;

padding:18px;

border-radius:10px;

}

.info{

border:1px solid #ddd;

padding:14px;

margin-top:10px;

}

table{

margin-top:20px;

}

th{

background:#7a1f2b;

}

.totales{

width:300px;

margin-left:auto;

border-top:3px solid #7a1f2b;

padding-top:10px;

}

img{

margin-top:20px;

}