{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'styles/styles_pdf.css' %}">
</head>

<body>

<div class="header">

<h1>SAT</h1>

<p>Serie {{ factura.serie }} | Folio {{ factura.folio }}</p>

<p>UUID: {{ factura.uuid }}</p>

</div>


<div class="section">

<div class="section-title">
DATOS DEL EMISOR
</div>

<p><span class="label">Nombre:</span>
{{ factura.nombre_emisor }}</p>

<p><span class="label">RFC:</span>
{{ factura.rfc_emisor }}</p>

</div>


<div class="section">

<div class="section-title">
DATOS DEL RECEPTOR
</div>

<p><span class="label">Nombre:</span>
{{ factura.nombre_receptor }}</p>

<p><span class="label">RFC:</span>
{{ factura.rfc_receptor }}</p>

</div>


<table
style="
width:100%;
border-collapse:collapse;
table-layout:fixed;
font-size:9px;
">

<tr
style="
background:#7a1f2b;
color:white;
">

<th width="15%">
Clave
</th>

<th width="35%">
Descripción
</th>

<th width="15%">
Cant.
</th>

<th width="15%">
Precio
</th>

<th width="20%">
Importe
</th>

</tr>


{% for c in factura.conceptos %}

<tr>

<td>
{{ c.clave }}
</td>

<td>
{{ c.descripcion }}
</td>

<td>
{{ c.cantidad }}
</td>

<td>
${{ c.valor_unitario }}
</td>

<td>
${{ c.importe }}
</td>

</tr>

{% endfor %}

</table>


<div class="total-box">

<p>Subtotal:
${{ factura.subtotal }}</p>

<p>IVA:
${{ factura.iva }}</p>

<hr>

<p class="total">
TOTAL:
${{ factura.total }}
</p>

</div>


{% if qr_base64 %}
<div class="qr">
<img src="{{ qr_base64 }}" width="120">
</div>
{% endif %}


<div class="footer">

Documento generado electrónicamente · SATS

</div>

</body>
</html>